<div
  class="flex gap-2 p-4"
  data-controller="external-platform-id"
  data-external-platform-id-platform-value="youtube"
>
  <input
    class="border border-gray-300 rounded-md p-2 m-4"
    data-action="external-platform-id#extractYoutubeId"
    placeholder="Paste a URL"
    type="text"
  />

  <input
    class="border border-gray-300 rounded-md p-2 m-4"
    data-external-platform-id-target="idField"
    type="text"
  />
</div>
